<form action='/upload/csv' method='post' enctype='multipart/form-data'>
  <label for='file'>Please input file CSV</label>
  <input type='file' name='file' />
  <button type='submit'>Submit</button>
</form>    
<br/>
<form action="/upload/xml" method='post' enctype='multipart/form-data'>
  <label for='file'>Please input file XML</label>
  <input type='file' name='file' />
  <button type='submit'>Submit</button>
</form>
<br/>
<form action="/data" method='get'>
  <label for='file'>Get all transactions</label>
  <button >Get data</button>
</form>
